ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 400px;
}
li{
    padding-left: 30px;
    transition: transform 0.2s;
}
li:hover{
    transform: scale(1.07);
}
ul a{
    text-decoration: none;
    padding-left: 20px;
    width: 400px;
    height: 40px;
    display: block;
    background-color: #FFD700;
    color: black;
    line-height: 40px;
    border-bottom: 1px solid #EEEEE0;
}
a:hover{
    background-color: #DAA520;
    color: #FFFFF0;
}
li:hover{
    transform: scale(1.07);
}

